package page

import "github.com/ohhfishal/resume-wizard/templates/card"

type ApplyProps card.TailorResumeCardProps

templ Apply(prop ApplyProps) {
	@Page(PageProps{
		Title: "🧙‍♂️ Resume Wizard",
		Imports: []templ.Component{
			DefaultStyle(),
			HTMX(),
		},
		Body: ApplyBody(prop),
	})
}

templ ApplyBody(prop ApplyProps) {
	<body>
		@Header()
		<div class="container">
			@card.TailorResumeCard((card.TailorResumeCardProps)(prop))
		</div>
	</body>
}
