package page

import "github.com/ohhfishal/resume-wizard/templates/card"

type ResumeFormProps struct {
}

templ ResumeForm(props ResumeFormProps) {
	@Page(PageProps{
		Title: "🧙‍♂️ Resume Wizard",
		Imports: []templ.Component{
			DefaultStyle(),
			HTMX(),
		},
		Body: resumeForm(props),
	})
}

templ resumeForm(props ResumeFormProps) {
	<body>
		@Header()
		<div class="container">
			<div class="hero">
				<h1>Create a base resume</h1>
				<p>This is the resume we tailor to jobs!</p>
			</div>
			@card.ResumeForm()
		</div>
	</body>
}
