package card

import (
	"github.com/ohhfishal/resume-wizard/db"
)

type ApplyCardProps struct {
	Base            db.Resume
	// Session         db.Session
	LockApplication bool
}

templ ApplyCard(props ...ApplyCardProps) {
  {{
  var prop ApplyCardProps
  if len(props) > 0 {
    prop = props[0]
  }
  }}
	@Card(CardProps{
		ID: "tailor-card",
	}) {
		<div class="card-header">
			<h3>Apply using: { prop.Base.Name }</h3>
		</div>
		<div>
			// TODO: Have this return a HX-Redirect to /tailor/{session}
			// That way we can store it and let the user continue later!
			<form
        hx-post="/api/dev/application"
				hx-encoding="multipart/form-data"
				hx-swap="innerHTML"
				hx-target="#tailor-card"
			>
				<input name="resume_id" value={ prop.Base.ID } class="hidden" type="text"/>
				<div class="form-row">
					<div class="form-group">
						<label for="company_name">Company: </label>
						<input
							name="company_name"
							id="company_name"
							type="text"
							required
						/>
					</div>
					<div class="form-group">
						<label for="title">Job Title: </label>
						<input
							name="title"
							id="title"
							type="text"
							required
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="description">Job Description</label>
					<textarea
						id="description"
						name="description"
						rows="3"
						placeholder="Paste the job description here."
					>
					</textarea>
					<small>TODO: Maximum XXX characters.</small>
				</div>
				<div class="btn-container">
					<button class="btn-primary">Submit</button>
				</div>
			</form>
		</div>
	}
}
