package card

const SmallCard = "sm"

type CardProps struct {
	Size string
}

templ Card(props ...CardProps) {
	{{
	var prop = CardProps{}
	if len(props) > 0 {
		prop = props[0]
	}

	var class string
	if prop.Size == SmallCard {
		class = "card-sm"
	} else {
		class = "card"
	}
	}}
	<div class={ class }>
		{ children... }
	</div>
}
